.nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 5vh;
    background-color: #333;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.title {
    color: white;
    font-size: 3rem;
    margin-left: 3rem;
}

.nav-bar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav-bar nav ul li {
    margin: 0 15px;
    position: relative;
    display: flex;
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    background-color: transparent;
}

.nav-item:hover .nav-link {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-icon {
    font-size: 3rem;
    margin-right: 3vw;
    transition: color 0.3s ease;
}

.nav-text {
    opacity: 0;
    white-space: nowrap;
    font-size: 2rem;
    color: white;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.nav-item:hover .nav-text {
    opacity: 1;
    visibility: visible;
}

.nav-item:hover .nav-icon {
    color: white;
}

.nav-bar nav ul li a:hover {
    color: white;
}